body{
    margin: 0px;
    background-color:aliceblue ;
}
.navbar{
    position: fixed;
    width: 100%;
    margin-top: 3%;
    background-color:bisque;
    border: 2px double black;
    padding-left: 20%;
}
.navbar a{

    text-decoration: none;
    font-size: 1.5em;
    margin: 15px;
    color: rgb(30,50,30);
}

img{
    margin-left: 4%;
    margin-top:6%;
    height: 25%;
    width: 15%;
    border: 2px double black;
    border-radius: 50%;
}
.profile {
    border: 1px solid black;
    display:inline-block;
    font-family:Arial, Helvetica, sans-serif;
}
.image{
    display: inline;
}
.details{
    position: absolute;
    text-align: left;
    top: 13%;
    left:22%;
}
.education{
    margin-left: 4%;
    margin-top: 5%;
}