body{
    margin: 0px;
}

/* home page */
#home{
    background-image: linear-gradient(to bottom,aliceblue,bisque);
    height: 600px;
    width: 100%;
    padding-bottom: 8%;
}
.navbar{
    position: fixed;
    width: 100%;
    margin-top: 1%;
    margin-left:auto;
    background-color:bisque;
    border: 2px double black;
    padding-left: 20%;
}
.navbar a{
    text-decoration: none;
    font-size: 1.5em;
    margin: 15px;
    color: rgb(30,50,30);
}
a:hover {
    text-decoration: underline;
}
.image {
    text-align: center;
}
.image img{
    margin-top: 4%;
    height: 25%;
    width: 15%;
    border: 2px double black;
    border-radius: 50%;
}
.welcome {
    width: 100%;
    text-align: center;
    font-family:cursive;
}

/* project gallery */
#project {
    margin-top: 5%;
    width: 100%;
    text-align: center;
}
.frame {
    display: flex;
    align-items: center;
}
#btn1:hover, #btn2:hover {
    cursor: pointer;
}
#btn1 {
    margin-right: 5%;
    margin-left: 3%;
    font-size: 3em;
    font-weight:bolder;
}
#btn2 {
    margin-left: 5%;
    font-size: 3em;
    font-weight: bolder;
}
#project iframe{
    width : 80%;
    height: 500px;
    border: 2px solid black;
}
/* know me page */
#know { 
    margin-top: 5%;
    height: 100%;
    display: flex;
}
.bio, .school, .college {
    padding: 2%;
    text-align: center;
    margin-left: 3%;
    width: 25%;
    border: 1px solid black;
}
.college:hover,.school:hover,.bio:hover {
    box-shadow: 5px -5px bisque;
}
